{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <!-- Geo Chart -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['geochart']});
      google.charts.setOnLoadCallback(drawRegionsMap);

      function drawRegionsMap() {

var data = google.visualization.arrayToDataTable([
  ['Provinsi', 'Jumlah Pengmas'],
  ['Banten', 1],
  ['Sumatera Utara', 2],
  ['Aceh', 3,],
  ['Riau', 4,],
  ['Sumatera Barat', 1],
  ['Jambi', 2],
  ['Bengkulu', 3],
  ['Sumatera Selatan', 4],
  ['Lampung', 1],
  ['ID-JK', 4],
  ['Jawa Barat', 2],
  ['Jawa Tengah', 3],
  ['Yogyakarta', 1],
  ['Jawa Timur', 2],
  ['Bali', 3],
  ['Nusa Tenggara Barat', 4],
  ['Nusa Tenggara Timur', 1],
  ['Bangka Belitung', 2],
  ['Kalimantan Barat', 3],
  ['Kalimantan Tengah', 4],
  ['Kalimantan Selatan', 1],
  ['Kalimantan Timur', 2],
  ['Kalimantan Utara', 3],
  ['Sulawesi Selatan', 4],
  ['Sulawesi Tenggara', 1],
  ['Sulawesi Barat', 2],
  ['Sulawesi Tengah', 3],
  ['Sulawesi Utara', 4],
  ['Gorontalo', 1],
  ['ID-MA', 2],                // Harus ID-MA, ID-PB     => Kalo mau muncul maluku,
                                         //                           harus diformat semuanya.
  ['ID-PB', 3],                   //                           https://developers.google.com/chart/interactive/docs/reference#patternformatter
  ['Papua', 4],
  ['Maluku Utara', 1],
]);

var options = {
  region: 'ID',
  displayMode: 'regions',        
  resolution: 'provinces',
  colorAxis: {
    colors: ['#000011', '000088', '0000aa', '0000ff'],
    values: [1, 2, 3, 4]
  },
//   projection: {
//       name: 'albers',
//       parallels: [10,10]
//   },
  backgroundColor: {fill:'#FFFFFF'},
  keepAspectRatio: false,
};

var chart = new google.visualization.GeoChart(document.getElementById('geochart'));

chart.draw(data, options);
}
    </script>
    <style>
        
    </style>
    <title>Serdadu</title>
  </head>
  <body>
        {% include 'header.html' %}

        {% block content %}
        {% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>