 {% extends 'base.html' %}

{% load static %}

{% block subtitle %}
    Home
{% endblock %}

{% block content %}
 <br><br>
    <div class="container">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                <th scope="col">No.</th>
                <th scope="col">Nama Kegiatan</th>
                <th scope="col">Waktu</th>
                <th scope="col">Daerah</th>
                <th scope="col">Bidang</th>
                <th scope="col">Anggaran</th>
                <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <th scope="row">1</th>
                <td>Community Development</td>
                <td>12/11/18 - 13/11/18</td>
                <td>Menteng</td>
                <td>Pendidikan</td>
                <td>Rp 5.000.000</td>
                <td><button class="btn btn-dark">Download LPJ</button></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Bakti Sosial</td>
                    <td>12/11/18 - 13/11/18</td>
                    <td>Menteng</td>
                    <td>Pendidikan</td>
                    <td>Rp 7.000.000</td>
                    <td><button class="btn btn-dark">Download LPJ</button></td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>test</td>
                    <td>12/11/18 - 13/11/18</td>
                    <td>Menteng</td>
                    <td>Pendidikan</td>
                    <td>Rp 1.000.000</td>
                    <td><button class="btn btn-dark">Download LPJ</button></td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}