 {% extends 'base.html' %}

{% load static %}

{% block subtitle %}
    Home
{% endblock %}

{% block content %}
 <br>
    <h1>Sponsor (Departemen)</h1>
    <br>
    <div class="container">
            <h3>Daftar perusahaan</h3>
        <div class="row">
            <div class="col-sm-4">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">PT. 1</h5>
                        <p class="card-text">021xxxxxxx</p>
                        <p class="card-text">email@perusahaan.com</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">PT. 2</h5>
                        <p class="card-text">021xxxxxxx</p>
                        <p class="card-text">email@perusahaan.com</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">PT. 3</h5>
                        <p class="card-text">021xxxxxxx</p>
                        <p class="card-text">email@perusahaan.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}